*.tgz
etapa 3/.vscode/settings.json
etapa 3/teste.txt
etapa 3/.vscode/launch.json
etapa 3/.vscode/tasks.json
etapa 4/digraph.dot
etapa 4/teste.txt
etapa 4/.vscode/launch.json
etapa 4/.vscode/tasks.json
etapa 5/.vscode/launch.json
etapa 5/.vscode/settings.json
etapa 5/.vscode/tasks.json
etapa 5/teste.txt
